<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGbPBjxTWahPkiX6pXuv1U1KXcW6eZlgg</string>
	<key>GCM_SENDER_ID</key>
	<string>479483817837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intro.academy</string>
	<key>PROJECT_ID</key>
	<string>introspection-academy</string>
	<key>STORAGE_BUCKET</key>
	<string>introspection-academy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479483817837:ios:f474b251ea277f4ffd3464</string>
	<key>DATABASE_URL</key>
	<string>https://introspection-academy-default-rtdb.firebaseio.com</string>
</dict>
</plist>